:root {
  --primary: #1c1d25;
  --secondary: #f15946;
}

body {
  background: var(--primary);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;  
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.logo img {
  max-width: 160px;
}

.content {
  max-width: 500px;
  margin: 40px auto;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px; 
}

.countdown {
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
}

.countdown div {
  padding: 10px;
  border-right: 1px solid #555;
}

.countdown div:last-child {
  border-right: none;
}

.countdown span {
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}

.countdown span:last-child {
  font-size: 17px;
  text-transform: uppercase;
}

.social {
  margin: 20px 0;  
}

.social li {
  display: inline-block;
}

.social i {
  font-size: 24px;
  margin: 0 10px;
  color: #aaa;
  transition: color 0.3s;
}

.social i:hover {
  color: #fff;  
}

@media(max-width: 600px) {

  h1 {
    font-size: 32px;
  }
  
  .countdown {
    flex-wrap: wrap;
  }
  
  .countdown div {
    min-width: 50%;
    border-right: none;
    border-bottom: 1px solid #555; 
  }
  
  .countdown div:nth-last-child(2) {
    border-bottom: none;
  }

}
